body {
    background-color: #36393E;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #7289DA;
    color: white;
    border: none;
    cursor: pointer;
}

#generatedLink {
    margin-top: 20px;
}

#inviteLink {
    color: #7289DA;
    text-decoration: none;
}

.github-link {
    color: #7289DA; /* Matches the button color */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    background-color: #f8f9fa; /* Example background color */
}

.footer-content {
    text-align: center;
    font-size: 0.8em; /* Adjust the font size as needed */
    width: 100%; /* Ensure the content takes up the full width */
}


}
